.my-work-heading{
    color: rgb(209, 209, 209);
    font-family:  Montserrat;
}


.my-work {
    margin: 3rem auto;
    padding: 1rem;
    width: 100%;
}
.my-work-heading{
    font-size: 3rem;
    text-align: center;
}
.carousel-wrapper{
    width: 80%;
    margin: auto;
    padding: 1em;
}
.carousel{
    display: flex;
    justify-content: center;
}
.carousel .slide{
    height: fit-content;
}
.carousel .slide img{
    box-shadow: 0 20px 10px -10px;
    margin-bottom: 1em;
    pointer-events: none;
}
.carousel .control-dots{
    /* just using this for reference */
    bottom: 0;
    background: red;
    display: none;
  }
.project-heading{
    margin: .5em;
    text-decoration: underline;
}
.col2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col2 a{
    color: rgb(211, 211, 211)
}
.view-code-btn, .view-site-btn{
    display: flex;
    height: 50px;
    width: 100px;
    background-color: rgb(114, 13, 13);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: rgb(209, 209, 209);
    font-family:  Montserrat;
}

.view-code-btn:hover{
    background-color: rgb(68, 11, 11);
    transition: .3s;
}

.view-site-btn:hover{
    background-color: rgb(68, 11, 11);
    transition: .3s;
}

.button-link{
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
}

.project-heading{
    color: rgb(209, 209, 209);
    font-family:  Montserrat;
    font-size: 25px;
}